.content {
  position: relative;
  padding-top: 110px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  height: 300vh;
}

.about {
  display: block;
  margin: 0 auto;
  text-align: center;
}
