.header {
  position: fixed;
  display: inline;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 10px;
  z-index: 9999;
  margin: auto;
  pointer-events: none;
  //if you want to blur the background of the header
  // backdrop-filter: blur(2px);
  .name-link {
    pointer-events: auto;
  }
  .spin-nav {
    pointer-events: auto;
  }
  .name-link {
    @include util-link;
  }
  .name {
    font-size: 20px;
    padding-left: 10px;
  }
}

:root {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.trigger {
  cursor: pointer;
}
