.art-container {
  position: relative;
  width: 1000px;
  height: 200px;
  // background-color: rgb(194, 194, 194);
  // border-style: solid;
  // border-width: 3px;
  .art {
    position: relative;
    height: 100%;
    background-color: blue;
  }
  .art-image {
    position: relative;
    height: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
  }
  .art-caption {
    background-color: green;
  }
}

.border-right {
  border-right: 3px solid;
}
