// @mixin rotated-text($num-letters, $angle-span) {
//   $angle-per-char: $angle-span / $num-letters;
//   @for $i from 1 through $num-letters {
//     span#{$i} {
//       transform: rotate($angle-per-char * 1deg * $i);
//     }
//   }
// }
@mixin spinning($deg, $anim) {
  animation: $anim 35s infinite linear;

  @keyframes #{$anim} {
    0% {
      transform: rotate($deg);
    }
    100% {
      transform: rotate($deg + 360deg);
    }
  }
}

$num-of-letter: 36;
$height: 80px;
$width: 80px;

.spinNav {
  float: right;
  height: $height;
  width: $width;
  & a {
    text-decoration: none;
  }

  .letter {
    text-align: center;
    font-size: 7px;
    height: $height / 2;
    position: absolute;
    width: 12px;
    top: 10px;
    // transform: translate(-50%, -20%);
    transform-origin: bottom center;
  }
  @for $i from 1 through $num-of-letter {
    .letter-animation#{$i} {
      $deg: 18deg * $i;
      transform: rotate($deg);
      @include spinning($deg, animation-#{$i});
    }
  }
}
