.works {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  // background-color: red;
  .artworks {
    position: relative;
    margin: 0 20px;
    text-align: center;
    padding: 0;
    .artworks-footer {
      margin-top: 20px;
    }
  }
  .backdrop {
    z-index: 9999;
    .backdrop-description {
      position: absolute;
      bottom: 0;
      left: 10px;
      color: white;
      font-size: 30px;
    }
  }
}
