html {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}

@import "util/link";
@import "util/fonts";
@import "components/grids";
@import "components/spinNav";
@import "components/header";
@import "components/content";
@import "components/about";
@import "components/footer";
@import "components/work";
